# Django
DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_URL=postgres://postgres:postgres@db:5432/app
{% if use_redis %}
# Redis / tasks
REDIS_URL=redis://redis:6379/0
{% endif %}
# JWT
JWT_SIGNING_KEY=change-me
JWT_ACCESS_TOKEN_LIFETIME_MIN=15
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

# Static / whitenoise
DJANGO_STATIC_ROOT=/app/staticfiles
