from ninja import Schema


class HealthOut(Schema):
    status: str


class TokenPairOut(Schema):
    access: str
    refresh: str


class TokenObtainIn(Schema):
    {{ user_identifier }}: str
    password: str
