from django.contrib import admin
from django.urls import include, path
{% if use_shinobi %}

from apps.{{ initial_app_name }}.api import api
{% endif %}

urlpatterns = [
    path("admin/", admin.site.urls),
{% if use_shinobi %}
    path("api/v1/", api.urls),
{% endif %}
{% if use_allauth %}
    path("accounts/", include("allauth.urls")),
{% endif %}
    path("", include("apps.{{ initial_app_name }}.urls")),
]
