{% raw %}{% extends "{% endraw %}{{ initial_app_name }}{% raw %}/base.html" %}

{% block content %}
<hgroup>
  <h1>{% endraw %}{{ project_name }}{% raw %}</h1>
  <p>Styled with Pico.css, bundled with Vite.</p>
</hgroup>
{% endblock %}
{% endraw %}
